# PostgreSQL
  POSTGRES_USER=exemple_user                                                                                                 
  POSTGRES_PASSWORD=exemple_password                                                                                              
  POSTGRES_DB=exemple_db                                                                                                    
  DATABASE_URL=postgresql://exemple_user:exemple_password@postgres:5432/exemple_db                                                      
                                                 
  # Redis
  REDIS_URL=redis://redis:PORT_NUMBER
                                                                                                                          
  # Auth
  JWT_SECRET=supersecretjwt                                                                                               
                                                 
  # Services URLs (pour api-gateway)                                                                                      
  USER_SERVICE_URL=http://user-service:PORT_NUMBER
  TASK_SERVICE_URL=http://task-service:PORT_NUMBER                                                                               
  NOTIFICATION_SERVICE_URL=http://notification-service:PORT_NUMBER

  # OpenTelemetry                                                                                                         
  OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:PORT_NUMBER
  OTEL_EXPORT_INTERVAL_MS=5000                                                                                      
                                                                                                                          
  # Logs
  NODE_ENV=production                                                                                                     
  LOG_LEVEL=info 