node_modules/
.env
.env.local
dist/
*.log
.DS_Store
kubeconfig.yml
secret.yaml

app-config.yaml
app-secret.yaml
!k8s/base/app-config.yaml
!k8s/base/app-secret.yaml
!k8s/base/postgres/secret.yaml
values.secret.yaml