# Port utilisé par l'API
PORT_API=

# Port utilisé par la base de données PostgreSQL
PORT_DB=

# Configuration de la base de données PostgreSQL
# Postgres credentials (user, password et database)
PGUSER=
PGPASSWORD=
PGDATABASE=